/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto:ital,wght@0,900;1,900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  font-family: "Noto Sans TC", "Roboto", sans-serif;
  line-height: 1.5; }

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle; }

.container {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 12px; }

.link {
  text-decoration: none;
  cursor: pointer;
  display: inline-block;
  color: #ffffff; }
  .link:hover {
    text-decoration: underline; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.mb-1 {
  margin-bottom: 8px; }

.mb-2 {
  margin-bottom: 16px; }

.mb-3 {
  margin-bottom: 24px; }

.mb-4 {
  margin-bottom: 32px; }

.mb-6 {
  margin-bottom: 48px; }

.mb-10 {
  margin-bottom: 80px; }

.pb-3 {
  padding-bottom: 24px; }

.pb-4 {
  padding-bottom: 32px; }

.light-bg {
  background: #fbf2f2; }

.btn {
  color: #ffffff; }
  .btn:hover {
    cursor: pointer; }

.special-font {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  font-size: 48px;
  line-height: 1.5;
  text-align: center; }

.bg-main {
  background: #aa0601; }

.title-b {
  font-weight: bold; }

.title {
  font-size: 48px;
  line-height: 72px;
  border-left: 8px solid #aa0601;
  margin-top: 96px;
  margin-bottom: 32px;
  padding-left: 16px; }

.ml-8 {
  margin-left: 48px; }

.mr-10 {
  margin-right: 100px; }

@media (max-width: 992px) {
  .mr-10 {
    margin-right: 10px; } }

@media (max-width: 767px) {
  .title {
    font-size: 24px;
    line-height: 36px;
    margin-top: 40px;
    margin-bottom: 24px; }
  .ml-8 {
    margin-left: 8px; } }

.header-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  @media (max-width: 767px) {
    .header-container {
      padding: 0;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .header-container .logo-container {
    text-align: center; }
    .header-container .logo-container .logo {
      width: 80px;
      height: 48.57px;
      margin: 12px 0; }
  .header-container .header-list {
    color: #ffffff;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 767px) {
      .header-container .header-list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    @media (max-width: 767px) {
      .header-container .header-list .list-item {
        width: 50%;
        text-align: center;
        border: 1px solid #ffffff; } }
    .header-container .header-list .header-link {
      font-size: 20px;
      font-weight: bold;
      padding: 25px 32px; }
      @media (max-width: 767px) {
        .header-container .header-list .header-link {
          width: 100%;
          text-align: center;
          font-size: 16px;
          line-height: 24px; } }
      .header-container .header-list .header-link:hover {
        background: #000000;
        text-decoration: none; }

.sub-header {
  background: #650300; }
  .sub-header .header-list {
    margin: 0 -24px; }
    @media (max-width: 767px) {
      .sub-header .header-list {
        margin: 0;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }
    @media (max-width: 767px) {
      .sub-header .header-list .list-item {
        width: auto;
        border: none; } }
    .sub-header .header-list .header-link {
      padding: 12px 24px; }
      @media (max-width: 767px) {
        .sub-header .header-list .header-link {
          padding: 12px;
          width: auto; } }
  .sub-header .icon-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 30px; }
    @media (max-width: 767px) {
      .sub-header .icon-container {
        display: none; } }

.footer-container {
  padding: 60px 12px 32px;
  color: #ffffff; }
  @media (max-width: 767px) {
    .footer-container {
      padding: 24px 12px; } }
  .footer-container .footer-box {
    border-bottom: 1px solid #ffffff; }
    @media (max-width: 767px) {
      .footer-container .footer-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
            -ms-flex-direction: row-reverse;
                flex-direction: row-reverse;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-bottom: 24px;
        margin-bottom: 16px; } }
    .footer-container .footer-box .d-flex {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .footer-container .footer-box .d-flex .list {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        line-height: 24px; }
        @media (max-width: 767px) {
          .footer-container .footer-box .d-flex .list {
            display: none; } }
    .footer-container .footer-box .footer-icons .footer-icon .icon-img {
      width: 48px;
      height: 48px;
      margin-left: 16px;
      margin-right: 16px; }
      @media (max-width: 992px) {
        .footer-container .footer-box .footer-icons .footer-icon .icon-img {
          width: 40px;
          height: 40px;
          margin-left: 8px;
          margin-right: 8px; } }
      @media (max-width: 767px) {
        .footer-container .footer-box .footer-icons .footer-icon .icon-img {
          width: 24px;
          height: 24px; } }
      .footer-container .footer-box .footer-icons .footer-icon .icon-img:hover {
        opacity: 0.8; }
    .footer-container .footer-box .contact-container .contact {
      font-size: 36px; }
      @media (max-width: 767px) {
        .footer-container .footer-box .contact-container .contact {
          font-size: 16px;
          line-height: 24px; } }
      .footer-container .footer-box .contact-container .contact .contact-icon {
        font-size: 36px;
        vertical-align: middle; }
        @media (max-width: 767px) {
          .footer-container .footer-box .contact-container .contact .contact-icon {
            font-size: 24px;
            line-height: 36px;
            margin-right: 5px; } }
  .footer-container .right-container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    line-height: 21px; }
    @media (max-width: 767px) {
      .footer-container .right-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        font-size: 16px;
        line-height: 24px; }
        .footer-container .right-container .copy-right {
          margin-bottom: 8px; } }
    .footer-container .right-container .privacy-list {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      font-size: 14px; }
      @media (max-width: 767px) {
        .footer-container .right-container .privacy-list {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
      .footer-container .right-container .privacy-list .list-item:nth-child(2) {
        margin-left: 48px; }
      @media (max-width: 767px) {
        .footer-container .right-container .privacy-list .list-item {
          margin-bottom: 8px; }
          .footer-container .right-container .privacy-list .list-item:nth-child(2) {
            margin-left: 0; } }

.index-content .banner {
  background-image: url(../images/home-header.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  color: #650300; }
  @media (max-width: 992px) {
    .index-content .banner {
      background-image: url(../images/home-header-sm.png);
      height: 787px; } }
  @media (max-width: 767px) {
    .index-content .banner {
      height: 396px; } }
  .index-content .banner .index-title {
    font-size: 36px; }
    @media (max-width: 767px) {
      .index-content .banner .index-title {
        font-size: 16px;
        line-height: 24px; } }
  .index-content .banner .slogan {
    font-size: 64px;
    margin-bottom: 10px; }
    @media (max-width: 767px) {
      .index-content .banner .slogan {
        font-size: 24px;
        line-height: 36px; } }
  .index-content .banner .buy {
    font-size: 20px;
    background: #aa0601;
    border: none;
    padding: 6px 12px; }
    .index-content .banner .buy:hover {
      background: #000000; }

.index-content .article .sec-title {
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  margin-bottom: 32px;
  color: #650300;
  font-weight: bold;
  font-weight: bold; }
  @media (max-width: 767px) {
    .index-content .article .sec-title {
      font-size: 24px;
      line-height: 36px; } }

.index-content .art-1 {
  padding: 80px 12px; }
  .index-content .art-1 .pro-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media (max-width: 992px) {
      .index-content .art-1 .pro-list {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .index-content .art-1 .pro-list .list-item {
      text-align: center;
      width: 25%;
      margin: 0 12px; }
      @media (max-width: 992px) {
        .index-content .art-1 .pro-list .list-item {
          margin-bottom: 20px;
          width: 40%; } }
      @media (max-width: 767px) {
        .index-content .art-1 .pro-list .list-item {
          width: 60%; } }
      .index-content .art-1 .pro-list .list-item .pro-icon {
        width: 83.83px;
        height: 83.83px; }
      .index-content .art-1 .pro-list .list-item .thr-title {
        font-size: 24px;
        line-height: 36px;
        color: #650300;
        font-weight: bold;
        font-weight: bold; }
      .index-content .art-1 .pro-list .list-item .txt {
        font-size: 16px;
        line-height: 24px;
        text-align: left; }

@media (max-width: 992px) {
  .index-content .art-2 .products-type {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; } }

.index-content .art-2 .products-type .list-item {
  margin: 0 12px; }
  .index-content .art-2 .products-type .list-item .font-main {
    color: #aa0601; }
    @media (max-width: 992px) {
      .index-content .art-2 .products-type .list-item .font-main {
        margin-bottom: 24px; } }

.index-content .art-3 {
  background-image: url(../images/index-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 0; }
  .index-content .art-3 .sec-title {
    color: #ffffff; }
  @media (max-width: 992px) {
    .index-content .art-3 .join-container .join-list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .index-content .art-3 .list-item .join-name {
    color: #aa0601; }

@media (max-width: 992px) {
  .index-content .art-4 .comment-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

.index-content .art-4 .comment-list .list-item {
  border: 1px solid #dee2e6;
  -webkit-box-shadow: 0px 2px 6px #00000029;
          box-shadow: 0px 2px 6px #00000029;
  margin: 0 12px; }
  @media (max-width: 992px) {
    .index-content .art-4 .comment-list .list-item {
      margin-bottom: 24px;
      width: 45%; } }
  @media (max-width: 767px) {
    .index-content .art-4 .comment-list .list-item {
      width: 100%; } }
  .index-content .art-4 .comment-list .list-item .d-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 205px;
    padding: 16px;
    font-size: 16px;
    line-height: 24px; }
    @media (max-width: 767px) {
      .index-content .art-4 .comment-list .list-item .d-flex {
        height: auto; }
        .index-content .art-4 .comment-list .list-item .d-flex .contxt {
          margin-bottom: 48px; } }
    .index-content .art-4 .comment-list .list-item .d-flex .contxt .customer-name {
      margin-bottom: 8px; }
    .index-content .art-4 .comment-list .list-item .d-flex .date {
      font-size: 14px;
      line-height: 21x;
      color: #707070; }

.index-content .contact-us {
  padding: 80px 0; }
  .index-content .contact-us .contact-form {
    width: 45%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px; }
    @media (max-width: 992px) {
      .index-content .contact-us .contact-form {
        width: 75%; } }
    @media (max-width: 767px) {
      .index-content .contact-us .contact-form {
        width: 100%;
        padding: 0 12px; } }
    .index-content .contact-us .contact-form .contact-item {
      display: block; }
    .index-content .contact-us .contact-form .input {
      width: 100%;
      height: 36px; }
    .index-content .contact-us .contact-form .textarea {
      width: 100%; }
    .index-content .contact-us .contact-form .agree {
      display: block; }
    .index-content .contact-us .contact-form .submit-container {
      width: 65%;
      margin: 0 auto; }
      .index-content .contact-us .contact-form .submit-container .submit {
        width: 100%;
        padding: 16px 0;
        border: none; }
        .index-content .contact-us .contact-form .submit-container .submit:hover {
          background: #000000; }

@media (max-width: 767px) {
  .products-content .products-nav {
    padding: 0; } }

.products-content .products-nav .list-item {
  border: 1px solid #dcdcdc;
  width: 33.3%;
  height: 96px; }
  @media (max-width: 992px) {
    .products-content .products-nav .list-item {
      height: 68px; } }
  @media (max-width: 767px) {
    .products-content .products-nav .list-item {
      height: 56px; } }
  .products-content .products-nav .list-item:hover {
    border-bottom: 8px solid #aa0601; }
  .products-content .products-nav .list-item .link {
    width: 100%;
    color: #000000;
    text-decoration: none;
    padding: 24px 0;
    text-align: center;
    font-size: 32px; }
    @media (max-width: 992px) {
      .products-content .products-nav .list-item .link {
        font-size: 24px;
        line-height: 36px;
        padding: 16px 48px; } }
    @media (max-width: 767px) {
      .products-content .products-nav .list-item .link {
        font-size: 16px;
        line-height: 24px;
        padding: 16px 12px; } }

@media (max-width: 767px) {
  .products-content .products-banner {
    margin-bottom: 40px; } }

.products-content .products-banner .banner-img {
  width: 50%; }

.products-content .products-title {
  text-align: center;
  font-size: 42px; }
  @media (max-width: 767px) {
    .products-content .products-title {
      font-size: 24px;
      line-height: 36px;
      margin-bottom: 24px; } }
  .products-content .products-title .title-span {
    font-size: 32px; }
    @media (max-width: 767px) {
      .products-content .products-title .title-span {
        font-size: 24px;
        line-height: 36px; } }

.products-content .products-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 767px) {
    .products-content .products-list {
      margin-bottom: 40px; } }
  .products-content .products-list .product {
    margin-left: 12px;
    margin-right: 12px; }
  .products-content .products-list .product-img {
    width: 282px; }
    @media (max-width: 992px) {
      .products-content .products-list .product-img {
        width: 336px; } }
    @media (max-width: 767px) {
      .products-content .products-list .product-img {
        width: 100%; } }
  .products-content .products-list .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    font-size: 24px;
    line-height: 36px; }
    .products-content .products-list .container .price {
      color: #aa0601;
      font-weight: bold; }
  .products-content .products-list .color-list {
    width: 56px;
    margin-bottom: 80px; }
    @media (max-width: 767px) {
      .products-content .products-list .color-list {
        margin-bottom: 24px; } }
    .products-content .products-list .color-list .list-item {
      width: 24px;
      height: 24px; }
      .products-content .products-list .color-list .list-item:nth-child(1) {
        background: #5f3e2d; }
      .products-content .products-list .color-list .list-item:nth-child(2) {
        background: #b75929; }

.page-list {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media (max-width: 767px) {
    .page-list {
      margin-bottom: 64px; } }
  .page-list .list-item {
    border: 1px solid #555555;
    font-size: 19px;
    line-height: 26px; }
    @media (max-width: 767px) {
      .page-list .list-item {
        font-size: 16px;
        line-height: 21px; } }
    .page-list .list-item .link {
      color: #000000;
      padding: 12px 15px;
      text-decoration: none; }
      .page-list .list-item .link:hover {
        color: #ffffff;
        background: #000000; }

.products-content .glasses-list .product .product-img {
  width: 384px; }
  @media (max-width: 767px) {
    .products-content .glasses-list .product .product-img {
      width: 100%; } }

.location-content .search-box {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 40px; }
  @media (max-width: 767px) {
    .location-content .search-box {
      width: 100%; } }
  .location-content .search-box .pick {
    font-size: 16px;
    line-height: 24px;
    margin-right: 16px; }
    @media (max-width: 767px) {
      .location-content .search-box .pick {
        margin-right: 8px;
        width: 20%;
        padding-top: 5px; } }
  .location-content .search-box .store-choice {
    border: 1px solid #ced4da;
    width: 304px;
    height: 38px; }
    @media (max-width: 767px) {
      .location-content .search-box .store-choice {
        width: 70%; } }

.location-content .location-list {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -12px;
  margin-right: -12px; }
  @media (max-width: 767px) {
    .location-content .location-list {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .location-content .location-list .list-item {
    margin-bottom: 48px;
    padding-left: 12px;
    padding-right: 12px;
    width: 33.3%; }
    @media (max-width: 992px) {
      .location-content .location-list .list-item {
        width: 50%; } }
    @media (max-width: 767px) {
      .location-content .location-list .list-item {
        width: 100%;
        margin-bottom: 24px; } }
    .location-content .location-list .list-item .sec-title {
      font-size: 24px;
      line-height: 36px;
      padding: 8px 24px;
      border: 1px solid #00000020; }
    .location-content .location-list .list-item .info-list {
      font-size: 20px;
      padding: 16px 24px 8px;
      border: 1px solid #00000020; }
      .location-content .location-list .list-item .info-list .info-icons {
        width: 18px; }
        .location-content .location-list .list-item .info-list .info-icons .info-icon {
          display: block;
          font-size: 18px;
          margin-bottom: 14px;
          margin-top: 5px; }
      .location-content .location-list .list-item .info-list .info-txts {
        margin-left: 12px; }
    .location-content .location-list .list-item .more-info {
      background: #000000;
      color: #ffffff;
      text-align: center;
      padding: 16px 0; }
      .location-content .location-list .list-item .more-info:hover {
        background: #aa0601;
        cursor: pointer; }

.blog-content {
  margin-bottom: 64px; }
  .blog-content .list-item {
    margin: 0 -12px 60px; }
    @media (max-width: 767px) {
      .blog-content .list-item {
        margin: 24px -12px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .blog-content .list-item .content {
      width: 50%;
      padding: 0 12px; }
      .blog-content .list-item .content:nth-child(2) {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: end; }
      @media (max-width: 767px) {
        .blog-content .list-item .content {
          width: 100%; }
          .blog-content .list-item .content .image {
            margin-bottom: 8px; } }
    @media (max-width: 767px) {
      .blog-content .list-item .content-box {
        width: 100%; } }
    .blog-content .list-item .content-box .d-flex {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .blog-content .list-item .content-box .date {
      padding-right: 10px; }
    .blog-content .list-item .more {
      text-decoration: none;
      padding: 0 12px;
      color: #650300;
      font-size: 36px;
      font-family: "Roboto"; }
      .blog-content .list-item .more:hover {
        opacity: 0.6;
        cursor: pointer; }
      @media (max-width: 992px) {
        .blog-content .list-item .more {
          display: none; } }
  .blog-content .sec-title {
    color: #650300;
    font-size: 32px; }
    @media (max-width: 992px) {
      .blog-content .sec-title {
        font-size: 24px;
        line-height: 36px; } }
  .blog-content .thr-title {
    font-size: 20px;
    line-height: 30px;
    font-family: "Roboto"; }
    @media (max-width: 992px) {
      .blog-content .thr-title {
        font-size: 16px;
        line-height: 24px; } }
  .blog-content .txt {
    font-size: 20px;
    line-height: 30px; }
    @media (max-width: 992px) {
      .blog-content .txt {
        font-size: 16px;
        line-height: 24px; } }
    @media (max-width: 767px) {
      .blog-content .txt {
        display: none; } }
    .blog-content .txt .span-more {
      display: none; }
      @media (max-width: 992px) {
        .blog-content .txt .span-more {
          display: inline; } }

.question-content .sec-title {
  font-size: 24px;
  line-height: 36px; }

@media (max-width: 767px) {
  .question-content .question-list .list-item {
    margin-bottom: 24px; } }

.question-content .question-list .list-item .thr-title {
  font-size: 20px; }

.question-content .question-list .list-item .txt {
  font-size: 16px;
  line-height: 24px;
  width: 71.3%; }
  @media (max-width: 992px) {
    .question-content .question-list .list-item .txt {
      width: 92%; } }
  @media (max-width: 767px) {
    .question-content .question-list .list-item .txt {
      width: 100%; } }

/*# sourceMappingURL=all.css.map */
